@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
.body{
border-radius: 0px;
background-color: #9DC9C8;
position: absolute;
margin:auto;
}
.header{
    height: 66px;
width: 908px;
border-radius: nullpx;
font-size: 55px;
font-weight: 700;
line-height: 56px;
letter-spacing: 0em;
text-align: left;
font-family: 'Roboto Slab', serif;
margin-left:122px;
margin-right:410px;
margin-top:179px;
margin-bottom:54px;
}
.firstdiv{
    height: 32px;
    width: 170px;
    border-radius: nullpx;
    margin-left:122px;
    margin-right:1148px;
    margin-top:54px;
    font-family:'Roboto';
font-size: 25px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
text-align: left;

}
.seconddiv{
    height: 181px;
    width: 481px;
    border-radius: nullpx;
    margin-left:122px;
    margin-right:837px;
    margin-top:-80px;
    position: absolute;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 101.38%;
}
.a{
    height: 32px;
    width: 294px;
    font-family: 'Roboto';
font-size: 25px;
font-weight: 400px;
line-height: 25.35px;
letter-spacing: 0em;
margin-top: -300px;
}
.b{
    height: 70px;
    width: 294px;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400px;
    line-height: 18.25px;
    letter-spacing: 0em;

}
.c{
    height: 32px;
width: 322px;
font-size: 25px;
font-weight: 400px;
line-height: 25.35px;
letter-spacing: 0em;
font-family: 'Roboto';
font-style: normal;
font-size: 18px;
margin-top:-140px;
}
.d{
    height: 70px;
width: 294px;
font-family: 'Roboto';
font-size: 18px;
font-weight: 400px;
line-height: 18px;
letter-spacing: 0em;
font-style: normal;
}
.text1{
    margin-left:121px;
    margin-top:484px;
    
}
.text2{
    margin-left:485px;
    
}




